<!DOCTYPE html>
<html xmlns:th="⁦http://www.thymeleaf.org⁩" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Ønskeliste - Wishy</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<header class="app-header">
    <h1 th:text="${wishlist.wishlistName}">Ønskeliste</h1>
</header>

<main class="container">
    <section class="card">
        <p th:text="${wishlist.description}">Beskrivelse af ønskeliste</p>

        <div class="controls mt-2">
            <a class="btn" th:href="@{'/wishy/homepage/' + ${wishlist.owner.userId}}">Tilbage til forside</a>
            <a class="btn" th:href="@{'/wishy/' + ${wishlist.owner.userId} + '/wishlists'}">Tilbage til lister</a>

            <a class="btn" th:href="@{'/wishy/createWish?wishlistId=' + ${wishlist.wishlistId}}">Tilføj ønske til listen</a>
        </div>

    </section>
</main>

<footer class="site-footer">
    &copy; 2025 Wishy
</footer>

</body>
</html>